/*
Clearfix
 */
.bar:before,
.bar:after {
	content: " ";
	display: table;
}
.bar:after {
	clear: both;
}

/**
 * The bars
 */
.bar {
	padding: 0 .5em;
	margin: .5em 0;
	position: relative;
	height: 40px;
	line-height: 40px;
}
.bar:before {
	content: '';
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;	
	border-left: 20px solid green;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	right: -20px;
}
.bar-selected:after {
	content: attr(data-grade);
	height: 40px;
	width: 40px;
	color: white;
	background-color: black;
	position: absolute;
	right: -100px;
	top: 50%;
	margin-top: -20px;
	border-radius: 40px;
	text-align: center;
}
.bar > .value {
	float: left;
}
.bar > .grade {
	float: right;
}

.bar1 {
	width: 20%;
	background-color: #209740;
}
.bar2 {
	width: 30%;
	background-color: #7dae35;
}
.bar3 {
	width: 40%;
	background-color: #cbd217;
}
.bar4 {
	width: 50%;
	background-color: #ffec00;
}
.bar5 {
	width: 60%;
	background-color: #e8b600;
}
.bar6 {
	width: 70%;
	background-color: #cf6400;
}
.bar7 {
	width: 80%;
	background-color: #c40008;
}
.bar7 > .grade {
	color: white;
}

.bar1:before {
	border-left-color: #209740;
}
.bar2:before {
	border-left-color: #7dae35;
}
.bar3:before {
	border-left-color: #cbd217;
}
.bar4:before {
	border-left-color: #ffec00;
}
.bar5:before {
	border-left-color: #e8b600;
}
.bar6:before {
	border-left-color: #cf6400;
}
.bar7:before {
	border-left-color: #c40008;
}

.graph_gas .bar1 {
	background-color: #dfdae3;
}
.graph_gas .bar2 {
	background-color: #c8a8c4;
}
.graph_gas .bar3 {
	background-color: #b784a9;
}
.graph_gas .bar4 {
	background-color: #a36396;
}
.graph_gas .bar5 {
	background-color: #9e4687;
}
.graph_gas .bar6 {
	background-color: #8d1473;
}
.graph_gas .bar7 {
	background-color: #80006f;
}

.graph_gas .bar1:before {
	border-left-color: #dfdae3;
}
.graph_gas .bar2:before {
	border-left-color: #c8a8c4;
}
.graph_gas .bar3:before {
	border-left-color: #b784a9;
}
.graph_gas .bar4:before {
	border-left-color: #a36396;
}
.graph_gas .bar5:before {
	border-left-color: #9e4687;
}
.graph_gas .bar6:before {
	border-left-color: #8d1473;
}
.graph_gas .bar7:before {
	border-left-color: #80006f;
}

.caption {
	font-weight: bold;
}